body{
  padding: 0;
  margin: 0;
  font-family: monospace;
  box-sizing: border-box;
}
#{
  background-color: darkgray;
}

/*hero-container*/

#hero-container{
  height: 100vh;
  width: 100%;
  background-image: 
    /*linear-gradient: 90deg, rgba(0,0,0,1) 0%, rgba(55,59,60,0.3) 100%;*/
    url('../background.png');
  background-size: cover;  
  background-position:  center;
}

#hero-container .bg-light{
  background: #000;
  background: linear-gradient(90deg, rgba(0,0,0,1) 0%, rgba(55,59,60,1) 100%);
}
#hero-container .navbar-nav .nav-link.active{
  color: orange;
}
#hero-container .navbar-nav .nav-link{
  color: white;
}
h2{
  color: white;
  margin: 20px 0px 20px;
  font-size: 55px;
  font-family: Noto serif, serif;
}
p{
  margin: 50px 0px 30px;
  color: white;
  letter-spacing: 2px;
  font-size: 20px;
  font-family: Noto serif, serif;
}
h3{
  margin: 5px 0px 50px;
  color: white;
  font-size: 25px;
  margin-bottom: 50px;
  font-family: Noto serif, serif;
}
/*main-container*/

#main-container{
  background: rgb(101,101,103);
  background: linear-gradient(90deg, rgba(101,101,103,1) 0%, rgba(0,5,6,1) 100%);
}
#{
  margin: 50px 0px 50px;
}
.p9{
  padding: 20px 70px 70px;
}
h1{
  color: white;
  text-align: start;
  font-family: Noto serif, serif;
}
h5,c{
  color: black;
}
.h1{
  text-align: center;
}
.btn{
  background-color: orange;
  color: black;
  text-decoration: none;
  border: 2px solid transparent;
  font-weight: bold;
  padding: 10px 25px;
  border-radius: 30px;
  font-family: monospace;
  font-size: 20px;
}
.content{
  position: absolute;
  top: 50%;
  left: 8%;
  transform: translateY(-50%);
}
#step{
  color: orange;
}
#nav-style{
  background-color: black;
  color: white;
}
#button-nav{
  background-color: darkgray;
}
b{
  background-color: orange;
  color: dark;
  text-decoration: none;
  border: 2px solid transparent;
  font-weight: bold;
  padding: 10px 25px;
  border-radius: 30px;
}
#contact{
  background: rgb(101,101,103);
  background: linear-gradient(90deg, rgba(101,101,103,1) 0%, rgba(0,5,6,1) 100%);
}
h6{
  text-align: center;
  font-size: 40px;
  color: darkgray;
}
.card{
  border: none;
  outline: none;
  padding: 20px 20px 20px;
}
.card c{
  color: black;
}
#services{
  background: #000;
  background: linear-gradient(90deg, rgba(0,0,0,1) 0%, rgba(55,59,60,1) 100%);
}
d{
  font-size: 12px;
  color: grey;
}
.card-body{
  padding: 20px 10px 20px;
  color: grey;
}
h4{
  color: black;
  font-size: 20px;
}
h5{
  font-size: 40px;
  color: white;
}
label{
  color: orange;
}